
@{
    ViewBag.Title = "Admin | Trang chủ";
    ViewBag.Header = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <!-- Default box -->
    <div class="box">

     
    </div>
    <!-- /.box -->
</section>
