
@{
    ViewBag.Title = "NotiAuthorize";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>Thông báo của từ quản trị</h2>
<section class="content">
    <!-- Default box -->
    <div class="box">
    </div>
    <!-- /.box -->
</section>


