@model DBModel.ET.About
 <!-- top header -->
<div class="top-head-w3ls py-2 bg-dark">
    <div class="container">
        <div class="row">
            <h1 class="text-capitalize text-white col-6">
</h1>
            <!-- social icons -->
            <div class="social-icons text-right col-6">
                <ul class="list-unstyled">
                    <li>
                        <a href="@Model.Facebook" target="_blank" class="fab fa-facebook-f icon-border facebook rounded-circle"> </a>
                    </li>
                    <li class="mx-2">
                        <a href="@Model.Twitter" target="_blank" class="fab fa-twitter icon-border twitter rounded-circle"> </a>
                    </li>
                    <li>
                        <a href="@Model.Googleplus" target="_blank" class="fab fa-google-plus-g icon-border googleplus rounded-circle"> </a>
                    </li>
                    <li class="ml-2">
                        <a href="#" class="fas fa-rss icon-border rss rounded-circle"> </a>
                    </li>
                </ul>
            </div>
            <!-- //social icons -->
        </div>
    </div>
</div>
  <!-- //top header -->
<!-- middle header Banner -->
<header class="py-2 bg-image-full" style="background-image: url('/Content/Client/images/banner.jpg');">
    <img class="img-fluid d-block mx-auto" src="~/Content/Client/images/logo.gif" alt="">
</header>

 
    <!-- //middle headerBanner -->
